*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #226f54;
}
.topbar{
    height: 100px rem;
    background-color: white;
    display: flex;

    
}
.icon{
    background-color: white;
    height: 100px;
    width: 8%;
    background-image: url("images/Game.png");
    background-size: contain;

}
.name{
    background-color: rgb(20, 67, 107);
    height: 100px;
    width: 82%;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #43291f;
    font-family: fantasy;
}



/* content  */
.content{
    display: flex;
    height: 15rem;
    justify-content: space-evenly; 
    margin-top: 3rem;
    background-color:transparent;
}
.content a{
    background-color: rgb(83, 12, 23);
    height: 15rem;
    width: 20%;
    
    box-shadow: 5px 5px 5px #292222;
    display: flex;
    align-items: end;
    border-radius: 8rem;
    border: 0.3rem solid brown;
}
#snakeg{
    background-image: url("images/snake.png");
    background-size: cover;
}
#ttt{
    background-image: url("images/ttt.png");
    background-size: cover;
}
#rps{
    background-image: url("images/RPS.jpeg");
    background-size: cover;
}
#wam{
    background-image: url("images/wam.jpeg");
    background-size: cover;  
}
.Gname{
    background-color: brown;
    height: 3rem;
    width: 100%;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: beige;
    font-family: fantasy;
    text-decoration: none;
}