*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #072ac8;
}
/*  TOP BAR */
h1{
    background-color: #1e96fc;
    color: #ffc600;
    height: 5rem;
    line-height: 5rem;  
}
/* MAIN */
.choices{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.choice{
    height: 10rem;
    width: 10rem;
    padding: 1rem;
    background-color: #a2d6f9;
    border-radius: 50%;   
    display: flex;
    align-items: center;
    justify-content: center;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    border: 0.1rem solid black;
   
}
img{
    height: 7.5rem;  
    background-color: #a2d6f9;
    
}
/* SCORE */
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    color: #fcf300;
    
}

#user-score, #comp-score {
    font-size: 4rem;
}
#msg{
    background-color:#1e96fc ;
    margin-top: 4rem;
    color: #fcf300;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
.msgc{
    margin-top: 3rem;
   
}
